
@{
    ViewBag.Title = "CheckOut";
}

<h1 >شكرا لشرائكم من متجرنا </h1>
<br />
<br />
<h2>رقم طلبك هو </h2>
@{ 
    Random r = new Random();
    <h3>@r.Next(1, 10)</h3>
}
<h1>الرجاء التوجه لأقرب فرع لاستلام طلبك</h1>
